@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Stack Sans Headline';
  src: url('/fonts/StackSansHeadline/StackSansHeadline-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', 'Inter', monospace;
}

body,
html {
  overflow-x: hidden;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --menu-content-offset: 0svh;
  --bf: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

p {
  font-family: 'JetBrains Mono', 'Inter', monospace;
  font-weight: 400;
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: var(--fg);
  font-size: 1.5rem;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section - Nav Bar */
.container {
  position: relative;
  margin-top: var(--menu-content-offset);
  color: var(--fg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  color: var(--menu-fg-secondary);
  z-index: 2;
}

.menu-logo,
.menu-logo a {
  display: inline-flex;
  align-items: center;
}

.menu-toggle-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  color: inherit;
  font: inherit;
}

.menu-toggle-label {
  overflow: hidden;
}

.menu-toggle-label p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}

.menu-hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(24, 24, 27, 0.35);
  border-radius: 0.75rem;
  overflow: hidden;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.menu-hamburger-icon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--fg);
  transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}

.menu-hamburger-icon span:nth-child(1) {
  transform: translateY(-3px);
}

.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}

.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  color: var(--fg);
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.menu-overlay {
  background-color: var(--menu-bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  will-change: clip-path;
}

.menu-overlay-content {
  display: flex;
  transform: translateY(-50%);
  will-change: transform;
  pointer-events: all;
}

.menu-media-wrapper {
  flex: 2;
  opacity: 0;
  will-change: opacity;
}

.menu-media-wrapper img {
  opacity: 0.25;
}

.menu-content-wrapper {
  flex: 3;
  position: relative;
  display: flex;
}

.menu-content-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-footer {
  margin: 0 auto;
}

.menu-content-main,
.menu-footer {
  width: 75%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.menu-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-col:nth-child(1) {
  flex: 3;
}

.menu-col:nth-child(2) {
  flex: 2;
}
.menu-link a {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* .menu-tag a, */
.menu-footer p {
  color: var(--menu-fg-secondary);
}

.line {
  position: relative;
  will-change: transform;
}

@media (max-width: 1000px) {
  .menu-media-wrapper {
    display: none;
  }

  .menu-content-main,
  .menu-footer {
    width: 100%;
  }

  .menu-content-main {
    top: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  .menu-link a {
    font-size: 3rem;
  }
}

/* Section - Hero Slider */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

nav p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #f4f4f5;
}

.slider {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}

.intro,
.outro {
  padding: 2rem;
  align-content: center;
  background-color: #09090b;
  color: #f4f4f5;
}

.intro h1,
.outro h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-images::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 27, 0.35);
}

.slider-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  will-change: transform, opacity;
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 50%;
  color: #f4f4f5;
}

.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
}

.slider-indices p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f4f4f5;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
  will-change: opacity;
}

.marker {
  position: relative;
  width: 0.75rem;
  height: 1px;
  background-color: #e4e4e7;
  transform-origin: right;
  will-change: transform;
  transform: scaleX(0);
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(244, 244, 245, 0.35);
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: #f4f4f5;
  transform-origin: top;
  will-change: transform;
}

.line {
  position: relative;
  display: block;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  nav {
    display: block;
  }

  .menu-bar {
    padding: 1.25rem;
  }

  .menu-toggle-label {
    display: none;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  }

  .slider-title {
    top: 5rem;
    left: 0;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .slider-indicator {
    top: unset;
    transform: none;
    bottom: 2rem;
  }
}
