@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Stack Sans Headline';
  src: url('/fonts/StackSansHeadline/StackSansHeadline-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', 'Inter', monospace;
}

/* :root {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgb(244 244 245);
  background-color: rgb(24 24 27);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stack Sans Headline', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: none;
}

.icon-button:focus,
.icon-button:focus-visible {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(24 24 27);
    background-color: rgb(244 244 245);
  }
  a:hover {
    color: rgb(63 63 70);
  }
  button {
    background-color: transparent;
  }
}

.grid-overlay {
  position: relative;
}

.grid-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  background-image: repeating-linear-gradient(
    to right,
    rgba(236, 72, 153, 0.3) 0,
    rgba(236, 72, 153, 0.3) calc(100% / 12),
    rgba(236, 72, 153, 0.1) calc(100% / 12),
    rgba(236, 72, 153, 0.1) calc(200% / 12)
  );
}

.grid-debug::before {
  opacity: 1;
}
 */
/* With GSAP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

p {
  font-family: 'JetBrains Mono', 'Inter', monospace;
  font-weight: 400;
  font-size: 0.85rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

nav p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

nav .logo {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 0.5rem 1rem;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.intro,
.outro {
  padding: 2rem;
  align-content: center;
  background-color: #0f0f0f;
  color: #fff;
}

.intro h1,
.outro h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-images::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.slider-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  will-change: transform, opacity;
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
}

.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.25rem;
}

.slider-indices p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
  will-change: opacity;
}

.marker {
  position: relative;
  width: 0.75rem;
  height: 1px;
  background-color: #fff;
  transform-origin: right;
  will-change: transform;
  transform: scaleX(0);
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform-origin: top;
  will-change: transform;
}

.line {
  position: relative;
  display: block;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  nav {
    display: none;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  }

  .slider-title {
    top: 5rem;
    left: 0;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .slider-indicator {
    top: unset;
    transform: none;
    bottom: 2rem;
  }
}
